backports-abc
backports.ssl-match-hostname
beautifulsoup4
blessings
bpython
certifi
chardet
cssselect
curtsies
decorator
greenlet
ipython
ipython-genutils
lxml
mongoengine
path.py
pexpect
pickleshare
ptyprocess
Pygments
pymongo
python-magic
python-memcached
readability-lxml
requests
simplegeneric
singledispatch
six
tornado
traitlets
wcwidth
wheel
