html,body{
    display: inline-block;

    margin:0px;

    width: 100%;
    min-width: 550px;
    height: 100%;

    font-size: 0px;
     -moz-user-select: none;
}

body{
    background: url("../img/loginbg.jpg") repeat;
    background-size: 350px 350px;
}

div{
    font-size: 0px;
}

p,a,span{
    font-family: arial,Times New Roman,sans-serif;
}


.screen{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;

    z-index: 100;
    display: none;
}

.header{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction:row;
    -moz-flex-direction:row;
    flex-direction:row;

    -webkit-align-content:stretch ;
    -moz-align-content: stretch;
    align-content:stretch;

    width: 100%;
    height: 45px;
}

.headerLeft{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction:column;
    -moz-flex-direction:column;
    flex-direction:column;

    height: 100%;
    width: 30%;
    min-width: 335px;
    max-width: 480px;

    overflow: hidden;
}

.hdLMenu{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction:row;
    -moz-flex-direction:row;
    flex-direction:row;

    -webkit-justify-content:space-between ;
    -moz-justify-content: space-between;
    justify-content:space-between;

    width: 100%;
    height: 35px;
    
    background-color: rgba(3, 3, 163, 0.72);
}

.hdLMenu>div{
    width: 25%;
    height: 100%;
    text-align: center;
}

.hdL0>div,.hdL1>div,.hdL2>div,.hdL3>div{
    display: inline-block;
    width: 35px;
    height: 35px;

    cursor: pointer;
    margin: 0px auto;

    background-size: 100% 100% !important;
}

.hdL0>div{
    background: url("../img/collect.png");
}
.hdL1>div{
    background: url("../img/home.png");
}
.hdL2>div{
    background: url("../img/announce.png");
}
.hdL3>div{
    background: url("../img/communicate.png");
}

.hdLArrow{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction:row;
    -moz-flex-direction:row;
    flex-direction:row;

    width: 100%;
    height: 10px;
}

.arrowLeft{
    width: 25%;
    height:10px;
    background-color:rgba(3, 3, 163, 0.72);
}  
.arrowRight{
    width: 50%;
    height:10px;
    background-color:rgba(3, 3, 163, 0.72);
}

.arrowCenter{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction:row;
    -moz-flex-direction:row;
    flex-direction:row;
    height: 10px;
    width: 25%;
    text-align: center;
    overflow: hidden;
}

.arrowCenter>div{
    width: 50%;
    border-top: 11px rgba(3, 3, 163, 0.72) solid;;
}

.ACLeft{
    border-right: 10px solid rgba(58, 142, 227, 0.58);
}
.ACRight{
    border-left: 10px solid rgba(58, 142, 227, 0.58);
}


.moreButton{
    float: left;
    width: 35px;
    height: 100%;
    background:url("../img/more.png");
    background-size: 35px 35px;

    cursor: pointer;

    box-shadow: 
        rgba(25, 33, 44,0.01) 9px  0px,
        rgba(26, 34, 44,0.01) 10px 0px,
        rgba(26, 34, 45,0.01) 11px 0px,
        rgba(26, 35, 46,0.01) 12px 0px,
        rgba(27, 35, 46,0.01) 13px 0px,
        rgba(27, 36, 47,0.01) 14px 0px,
        rgba(28, 37, 48,0.01) 15px 0px,
        rgba(28, 37, 48,0.01) 16px 0px,
        rgba(28, 38, 49,0.01) 17px 0px,
        rgba(29, 38, 50,0.01) 18px 0px,
        rgba(29, 39, 50,0.01) 19px 0px,
        rgba(30, 39, 51,0.01) 20px 0px,
        rgba(30, 40, 52,0.01) 21px 0px,
        rgba(30, 40, 52,0.01) 22px 0px,
        rgba(31, 41, 53,0.01) 23px 0px,
        rgba(31, 41, 54,0.01) 24px 0px,
        rgba(32, 42, 54,0.01) 25px 0px,
        rgba(32, 42, 55,0.01) 26px 0px,
        rgba(32, 43, 56,0.01) 27px 0px,
        rgba(33, 43, 56,0.01) 28px 0px,
        rgba(33, 44, 57,0.01) 29px 0px,
        rgba(34, 45, 58,0.01) 30px 0px;
}

.headerRight{
    height: 45px;

    background-color: rgba(3, 3, 163, 0.72);
}

.hdR0,.hdR1,.hdR2,.hdR3{
    float: right;

    width: 40px;
    height: 45px;
    background-size: 35px 35px!important;
    background-repeat: no-repeat!important;

    cursor: pointer;
}

.headerRight>div:hover{
    background-color:rgba(52, 112, 173, 0.49); ;
}

.hdR0{
    background: url("../img/newTarget.png");
}

.hdR1{
    background: url("../img/random.png");
}

.hdR2{
    background: url("../img/next.png");
}

.hdR3{
    background: url("../img/forward.png");
}

.content{
    position: absolute;
    top: 45px;
    bottom: 0px;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction:row;
    -moz-flex-direction:row;
    flex-direction:row;

    -webkit-align-content:stretch ;
    -moz-align-content: stretch;
    align-content:stretch;

    width: 100%;
}

.contentLeft{
    position: relative;
    top: 0px;
    bottom: 0px;
    width: 30%;
    min-width: 335px;
    max-width: 480px;
}

.contentRight{
    height: 100%;
}

.ctLMainDiv{
    position: absolute;
    bottom: 35px;
    top:0px;
    
    display: inline-block;
    width: 100%;
    background-color: rgba(58, 142, 227, 0.58);
}

.ctLMain{
    position: absolute;
    right: 13px;
    left: 0px;

    display: inline-block;
    height: 100%;

    overflow: hidden;
}

.ctLBottom{
    position: absolute;
    bottom: 0px;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction:row;
    -moz-flex-direction:row;
    flex-direction:row;
    
    -webkit-justify-content:flex-start;
    -moz--justify-content:flex-start;
    webkit-justify-content:flex-start;

    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;

    width: 100%;
    height: 35px;

    background-color: rgba(3, 3, 163, 0.72);

    box-shadow: 
        rgba(26, 34, 45,0.15) 0px -1px ,
        rgba(26, 35, 46,0.15) 0px -2px ,
        rgba(27, 35, 46,0.15) 0px -3px ,
        rgba(27, 36, 47,0.15) 0px -4px ;
}

.ctLScroll{
    position: relative;
    float: right;

    display: inline-block;
    width: 13px;
    height: 100%;

    background-color:#D5D5D5;
}

.ctLScrollBar{
    position: absolute;
    top: 0px;
    left: 0px;

    display: inline-block;
    width: 100%;
    height: 50px;
    background-color:rgba(1, 77, 143, 0.43);
}

.ctLMain>div{
    position: absolute;
    left: 100%;
    width: 100%;
}

.eachConnection{
    display:none;

    -webkit-flex-direction:row;
    -moz-flex-direction:row;
    flex-direction:row;
    width: 200%;
    height:70px;

    -moz-transition: margin-left 0.1s ease-in-out;
    -webkit-transition: margin-left 0.1s ease-in-out ;
    transition: margin-left 0.1s ease-in-out;
    margin-left: 0px;
    border:0px;
    text-decoration: none;
    border-bottom: 1px solid rgba(200, 241, 233, 0.77);
}

.eachConnection:hover{
    -moz-transition: margin-left 0.3s ease-in-out 0.3s;
    -webkit-transition: margin-left 0.3s ease-in-out 0.3s ;
    transition: margin-left 0.3s ease-in-out 0.3s;
    margin-left: -100%;
}

.eachLeft,.eachRight{
    position: relative;
    display: inline-block;
    width: 50%;
    height: 100%;
}

.ELShareShot,.ERSharemanImg{
    display: inline-block;
    width: 56px;
    height: 56px;
    margin: 7px 15px 7px 13px;
    -webkit-background-size: 100% 100%!important;
    background-size: 100% 100%!important;
    border-radius: 4px;
}

.ELShareTitle,.ERShareReason{
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 84px;
    padding:5px 0px;
    overflow: hidden;
}

.ELShareTitle{
    height: 60px;
}
.ERShareReason{
    height: 58px;
    overflow: hidden;
}

.shareTitle{
    font-size: 16px;
    word-wrap: break-word;
    color: #475e81;
    margin: 0px;

    display: inline-block;
    width: 100%;
    height: 40px;
    overflow: hidden;
}

.shareDetail{
    display: inline-block;
    width: 100%;
    height: 13px;
    margin-left: -10px;
    padding-top: 4px;
    text-align: right;
    font-size: 13px;
    color: #475e81;
}

.shareName{
    color:#475e81;
    font-size: 16px;
}

.shareName::after{
    content:":";
    color:#475e81;
    font-size: 16px;
    padding-right:12px; 
}

.shareReason{
    color:#475e81;
    font: 16px/20px arial,Times New Roman,sans-serif;
    word-wrap:break-word;   
}

.ctLMain1{
    height: 100%;
}

.ctLMain1ShowDiv{
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ctLMain1Show{
    position: relative;
    display: inline-block;
    width: 100%;
    padding-bottom: 40px;
}

.ctLMain1WaitBox{
    position: absolute;
    bottom: 0px;
    display:inline-block;
    width: 100%;
    height: 40px;
}

.ctLMain1WaitBox>div{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    margin:auto 0px;

    position: absolute;
    bottom: 0px;
    top: 0px;
    left: -10px;
    opacity: 0;
    background-color: rgb(255, 0, 20);
}

.logout{
    height: 15px;

    text-decoration: none;
    color: #ece2e1;
    font: 15px/15px arial,Times New Roman,sans-serif;
    font-weight: 500;
    border-right: 1px solid #ece2e1;
    padding: 0px 8px 0px 20px;

}

.ctLBottom>.username{
    display: inline-block;
    height: 35px;
    width: auto;
    margin: 0px;

    color: #ece2e1;
    font: 15px/35px arial,Times New Roman,sans-serif;
    font-weight: 500;  
    padding-left: 8px;  
    padding-right: 10px;
}

.ctLBottom>.userImg{
    display: inline-block;
    height:30px;
    width:30px;
    -webkit-background-size: 100% 100%!important;
    background-size: 100% 100%!important;
}

.ctRMain{
    display:inline-block;
    width: 100%;
    height: 100%;
}

.ctLMain2{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction:column;
    -moz-flex-direction:column;
    flex-direction:column;

    height: 100%;
}

.ctLMain2ShowDiv{
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ctLMain2Show{
    position: relative;
    display: inline-block;
    width: 100%;
    padding-bottom: 30px;
}

.addComment{
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    height: 150px;
    min-height: 150px;
}

.commentText{
    float: right;
    display: inline-block;
    width: 90%;
    height: 100px;

    margin: 0px 12px 5px 0px;
    padding: 5px;
    
    border-radius: 6px;
    border: 0px;
    font-size: 14px;
    color: #FFFFFF;
    outline: 0px;
    resize: none;

    -moz-transition: background-color 0.08s ease-in-out;
    -webkit-transition: background-color 0.08s ease-in-out;
    background-color: rgba(255, 255, 255, 0.28);
}

.commentText:focus{
    -moz-transition: background-color 0.1s ease-in-out;
    -webkit-transition: background-color 0.1s ease-in-out;
    color: #797979;
    background-color: rgba(255, 255, 255, 0.8);
}

.commentSubmit{
    display: inline-block;
    width: 75px;
    height: 25px;

    float: right;
    margin-right: 12px;

    background-color: #E0E0E0;
    cursor: pointer;
    overflow: hidden;
}

.commentSubmit>p{
    text-align: center;

    margin: 0px;
    height: 100%;
    width: 100%;
    color: #C5C5C5;
    font:16px/25px arial;
}

.eachComment{
    display: none;

    -webkit-flex-direction:row;
    -moz-flex-direction:row;
    flex-direction:row;

    width: 100%;
    height: auto;  
    border-bottom: 1px solid rgba(200, 241, 233, 0.77);
}

.eCmShareImg{
    display: inline-block;
    width: 65px;
    min-width: 65px;
    height: 65px;
    margin: 10px 15px 0px 10px;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    border-radius: 4px;
}

.eCmCommentText{
    display: inline-block;
    min-height: 65px;
    width: 100%;
    height: auto;
    margin: 10px 10px 10px 0px;

    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    padding-left: 4px;
    background-color:rgba(255, 255, 255, 0.22);
}

.eCmCommentText>span{
    font-size: 15px;
    color: #fff;
}

.eCmCommentText>span:after{
    content: "";
    padding-left:10px; 
}

.contentShow{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.commentShow{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.ctLMain2WaitBox{
    position: absolute;
    bottom: 0px;
    display:inline-block;
    width: 100%;
    height: 30px;
}

.ctLMain2WaitBox>div{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    margin:auto 0px;

    position: absolute;
    bottom: 0px;
    top: 0px;
    left: -10px;
    opacity: 0;
    background-color: rgb(255, 0, 20);
}


