html,body{
    display: inline-block;

    margin:0px;

    width: 100%;
    min-width: 550px;
    height: 100%;

    font-size: 0px;
}

body{
    background: url("../img/bgImgWhite.jpg") repeat;
    background-size: 350px 350px;
}

div{
    font-size: 0px;
     -moz-user-select: none;
     -webkit-user-select: none;
}

p,a,span{
    font-family: 'Open Sans','Helvetica Neue',Arial,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
}


.screen{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;

    z-index: 100;
    display: none;
    cursor: default
}

.header{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction:row;
    -moz-flex-direction:row;
    flex-direction:row;

    -webkit-align-content:stretch ;
    -moz-align-content: stretch;
    align-content:stretch;

    background-image: url(../img/bgImgBlue.png);
    -webkit-background-size: 370px 60px;
    background-size: 370px 60px;

    width: 100%;
    height: 45px;
}

.headerLeft{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction:column;
    -moz-flex-direction:column;
    flex-direction:column;

    height: 100%;
    width: 30%;
    min-width: 335px;
    max-width: 480px;

    overflow: hidden;
    background-color: rgba(13, 16, 17, 0.19);
}

.hdLMenu{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction:row;
    -moz-flex-direction:row;
    flex-direction:row;

    -webkit-justify-content:space-between ;
    -moz-justify-content: space-between;
    justify-content:space-between;

    width: 100%;
    height: 45px;
    margin-bottom: -10px;
}

.hdLMenu>div{
    width: 25%;
    height: 100%;
    cursor: pointer;
    text-align: center;
}

.hdLMenu>div:hover{
    background-color: rgba(68, 128, 189, 0.36);
}

.hdL0>div,.hdL1>div,.hdL2>div,.hdL3>div{
    display: inline-block;
    width: 30px;
    height: 24px;
    margin: 8px auto 0px ;

    background-size: 100% 100% !important;
}

.hdL0>div{
    background: url("../img/collect.png");
}
.hdL1>div{
    background: url("../img/home.png");
}
.hdL2>div{
    background: url("../img/comment.png");
}
.hdL3>div{
    background: url("../img/communicate.png");
}

.hdLArrow{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction:row;
    -moz-flex-direction:row;
    flex-direction:row;

    width: 100%;
    height: 10px;
}

.arrowLeft{
    width: 25%;
    height:10px;
}  
.arrowRight{
    width: 50%;
    height:10px;
}

.arrowCenter{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction:row;
    -moz-flex-direction:row;
    flex-direction:row;
    height: 10px;
    width: 25%;
    text-align: center;
    overflow: hidden;
}

.arrowCenter>div{
    width: 50%;
    border-top: 11px rgba(0, 0, 0, 0) solid;;
}

.ACLeft{
    border-right: 10px solid rgb(238, 238, 238);
}
.ACRight{
    border-left: 10px solid rgb(238, 238, 238);
}

.moreButton{
    position: relative;
    float: left;
    display: inline-block;
    width: 35px;
    height: 100%;
    text-align: center;
    cursor: pointer;
    background-color: rgba(13, 16, 17, 0.19);
}

.moreButton:hover{
    background-color: rgba(12, 68, 126, 0.25)!important;
}

.moreButton>div{
    position: absolute;
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    width: 12px;
    height: 20px;
    margin:auto;

    background-size: 12px 20px;
    background-repeat: no-repeat;
}

.toLeft{
    display: inline-block;
    background-image:url("../img/toLeft.png");
}

.toRight{
    display: none;
    background-image:url("../img/toRight.png");
}

.moreButtomCover{
    width: 100%!important;
    height: 100%!important;
}

.headerRight{
    position: relative;
    height: 45px;
    width: 70%;
}

.hdR0,.hdR1,.hdR2,.hdR3{
    position: relative;
    float: right;

    width: 40px;
    height: 45px;
    cursor: pointer;
}

.hdRShareTitle{
    position: absolute;
    right: 180px;
    left:60px;
    
    display: inline-block;
    height: 100%;
    overflow: hidden;

    -moz-user-select: text;
    -webkit-user-select: text;
}

.hdRShareTitle:hover{
    background-color: rgba(0,0,0,0)!important;
}

.hdRShareTitle>p{
    margin:0px;

    height: 100%;
    text-align: center;
    font: 16px/45px arial;
    color:rgba(237, 241, 247, 0.87);

    overflow:hidden;
    text-overflow : ellipsis ; 
    white-space:nowrap;
}

.hdR0>div,.hdR1>div,.hdR2>div,.hdR3>div{
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;

    width: 25px;
    height: 25px;
    margin:auto;
    background-size: 25px 25px!important;
    background-repeat: no-repeat!important;
}

.headerRight>div:hover{
    background-color:rgba(68, 128, 189, 0.36);
}

.hdR0>div{
    background: url("../img/newTarget.png");
}

.hdR0:hover{
   background-color:rgba(68, 128, 189, 0.36);
}

.hdR1>div{
    background: url("../img/random.png");
}

.hdR2>div{
    background: url("../img/next.png");
}

.hdR3>div{
    background: url("../img/forward.png");
}

.content{
    position: absolute;
    top: 45px;
    bottom: 0px;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction:row;
    -moz-flex-direction:row;
    flex-direction:row;

    -webkit-align-content:stretch ;
    -moz-align-content: stretch;
    align-content:stretch;

    width: 100%;
}

.contentLeft{
    position: relative;
    top: 0px;
    bottom: 0px;
    width: 30%;
    min-width: 335px;
    max-width: 480px;
    z-index: 1;

    box-shadow: rgba(44, 44, 44, 0.3) 1px 0px,
                rgba(97, 97, 97, 0.3) 2px 0px,
                rgba(138, 138, 138, 0.2) 3px 0px;
}   

.contentRight{
    position: relative;
    height: 100%;
    width: 70%;
}

.ctLMainDiv{
    position: absolute;
    bottom: 35px;
    top:0px;
    
    display: inline-block;
    width: 100%;
    background-color: rgba(238, 238, 238, 0.6);
}

.ctLMain{
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.ctLBottom{
    position: absolute;
    bottom: 0px;

    width: 100%;
    height: 35px;
    background-image: url(../img/bgImgBlue.png);
    background-size: 370px 60px;
}

.ctLBottomBg{
    position: absolute;
    top: 0px;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction:row;
    -moz-flex-direction:row;
    flex-direction:row;
    
    -webkit-justify-content:flex-start;
    -moz--justify-content:flex-start;
    webkit-justify-content:flex-start;

    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;

    width: 100%;
    height: 100%;
    background-color: rgba(13, 16, 17, 0.19)!important;
}

.ctLScroll{
    position: absolute;
    right:0px;

    display: inline-block;
    width: 13px;
    height: 100%;
}

.ctLScrollBar{
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;

    display: inline-block;
    width: 100%;
    height: 50px;
    border-radius: 100px;
    background-color:rgba(211, 211, 211, 0.8);
    cursor: default;

    transition:opacity ;
    transition-duration:1.2s;
    transition-delay:5s; 

    -moz-transition:opacity ; 
    -moz-transition-duration:1.2s;
    -moz-transition-delay :5s;

    -webkit-transition:opacity; 
    -webkit-transition-duration:1.2s;
    -webkit-transition-delay:5s;  
}

.ctLMain>div{
    position: absolute;
    left: 100%;
    width: 100%;
    height:100%;
}

.eachConnection{
    display:none;

    -webkit-flex-direction:row;
    -moz-flex-direction:row;
    flex-direction:row;
    width: 100%;
    height:70px;

    -moz-transition: margin-left 0.1s ease-in-out;
    -webkit-transition: margin-left 0.1s ease-in-out ;
    transition: margin-left 0.1s ease-in-out;
    margin-left: 0px;
    border:0px;
    outline: 0px!important;
    text-decoration: none;
    border-bottom:1px solid rgba(228, 228, 228, 0.54);
}

.briefShow{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;

    padding-right: 13px;
    margin-left: -13px;
}

.toggleLike{
    cursor: pointer;
}

.toggleLike:hover{
    text-decoration: underline;
    color: rgb(128, 179, 255);
}

.toggleCollection{
    cursor: pointer;
}

.toggleCollection:hover{
    text-decoration: underline;
    color: rgb(128, 179, 255);
}

.shareShot{
    display: inline-block;
    width: 56px;
    height: 56px;
    margin: 7px 15px 7px 22px;
    -webkit-background-size: 100% 100%!important;
    background-size: 100% 100%!important;
    box-shadow: 1px 1px 3px #ACACAC;
    border-radius: 4px;
}

.shareTitleBlock{
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 14px;
    left: 88px;
    padding:5px 0px;
    height: 60px;
    overflow: hidden;
}

.shareTitle{
    display: inline-block;
    width: 100%;
    height: 38px;
    overflow: hidden;
}

.shareTitle>span{
    font-size: 15px;
    line-height: 19px;
    word-wrap: break-word;
    font-weight: 200;
    color: rgba(71, 94, 129, 0.95);
    margin: 0px;

    width: 100%;
    height:40px;
}

.shareDetail{
    position: absolute;
    bottom: 10px;
    right: 15px;

    display: inline-block;
    width: 100%;
    height: 13px;
    margin-left: -10px;
    padding-top: 4px;
    text-align: right;
    font-size: 13px;
    color: #8ea0bb;
}

.shareDetail>span,.shareDetail>a{
    border-right: 1px solid rgba(195, 204, 231, 0.81);
    padding: 0px 3px;
}

.ctCommentShow{
    margin-right: 3px;
}

.shareReason{
    color:#475e81;
    font: 16px/20px arial,Times New Roman,sans-serif;
    word-wrap:break-word;   
}

.ctLMain1ShowDiv{
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ctLMain1Show{
    position: relative;
    display: inline-block;
    width: 100%;
    padding-bottom: 40px;
}

.ctLMain1WaitBox{
    position: absolute;
    bottom: 0px;
    display:inline-block;
    width: 100%;
    height: 40px;
}

.ctLMain1WaitBox>div{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    margin:auto 0px;

    position: absolute;
    bottom: 0px;
    top: 0px;
    left: -10px;
    opacity: 0;
    background-color: rgb(255, 0, 20);
}

.logout{
    height: 15px;

    text-decoration: none;
    color: #ece2e1;
    font: 15px/15px arial,Times New Roman,sans-serif;
    font-weight: 500;
    border-right: 1px solid #ece2e1;
    padding: 0px 8px 0px 20px;

}

.ctLBottomBg>.username{
    display: inline-block;
    height: 35px;
    width: auto;
    margin: 0px;

    color: #ece2e1;
    font: 15px/35px arial,Times New Roman,sans-serif;
    font-weight: 500;  
    padding-left: 8px;  
    padding-right: 10px;
}

.ctLBottomBg>.userImg{
    display: inline-block;
    height:30px;
    width:30px;
    -webkit-background-size: 100% 100%!important;
    background-size: 100% 100%!important;
}

.ctRMain{
    display:inline-block;
    width: 100%;
    height: 100%;
}

.ctLMain2{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction:column;
    -moz-flex-direction:column;
    flex-direction:column;
}

.ctLMain2ShowDiv{
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ctLMain2Show{
    position: relative;
    display: inline-block;
    width: 100%;
    padding-bottom: 30px;
}

.addComment{
    display: inline-block;
    width: 100%;
    padding: 10px 18px 0px 0px;
    height: 150px;
    min-height: 150px;
}

.commentText{
    float: right;
    display: inline-block;
    width: 90%;
    height: 100px;

    margin: 0px 18px 5px 0px;
    padding: 5px;
    
    border-radius: 6px;
    border: 1px solid #C9C9C9;
    font-size: 14px;
    color: rgba(172, 172, 172, 0.9);
    outline: 0px;
    resize: none;
    overflow-x: hidden; 

    -moz-transition: background-color 0.08s ease-in-out;
    -webkit-transition: background-color 0.08s ease-in-out;
    background-color: rgba(255, 255, 255, 0.54);
}

.commentText:focus{
    -moz-transition: background-color 0.1s ease-in-out;
    -webkit-transition: background-color 0.1s ease-in-out;
    color: #797979;
    background-color: rgba(255, 255, 255, 1);
}

.commentText::-webkit-scrollbar {
    background-color: rgb(206, 206, 206);
    width: 8px;
    border-radius: 8px;
    border: 1px solid rgb(165, 165, 165);
}

.commentText::-webkit-scrollbar-thumb  {
    background-color: rgb(170, 170, 170);
    border: 1px solid rgb(156, 156, 156);
    border-radius: 8px;
}

.commentSubmit{
    display: inline-block;
    width: 75px;
    height: 25px;

    float: right;
    margin-right: 18px;

    background-color: #DFDFDF;
    cursor: pointer;
    overflow: hidden;
    border-radius: 3px;
    border: 1px solid #BBB;
}

.commentSubmit>p{
    text-align: center;

    margin: 0px;
    height: 100%;
    width: 100%;
    color: #BDBDBD;
    font:16px/25px arial;
     font-family: 'Open Sans','Helvetica Neue',Arial,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
}

.eachComment{
    display: none;

    -webkit-flex-direction:row;
    -moz-flex-direction:row;
    flex-direction:row;

    width: 100%;
    padding-right: 13px;
    margin-left: -13px;
    height: auto;  
    border-bottom:1px solid rgba(228, 228, 228, 0.54);
}

.eCmShareImg{
    display: inline-block;
    width: 65px;
    min-width: 65px;
    height: 65px;
    margin: 10px 15px 0px 20px;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    border-radius: 4px;
    box-shadow: 1px 1px 3px #ACACAC;
}

.eCmCommentText{
    position: relative;
    display: inline-block;
    min-height: 65px;
    width: 100%;
    height: auto;
    margin: 10px 10px 10px 0px;

    font-size: 16px;
    color: #fff;
    padding-left: 4px;
    background-color:rgba(255, 255, 255, 0.7);
    overflow: hidden;
}

.eCmCommentText>span{
    font-size: 15px;
    word-wrap: break-word;
    color: #858585;
}

.eCmCommentText>span:after{
    content: "";
    padding-left:15px; 
}

.replyButton{
    position: absolute;
    bottom: 0px;
    right: 0px;
    
    display: inline-block;
    width: 15px;
    height: 15px;

    background-color: rgba(148, 148, 148, 0.47);
    border-radius: 100px 0px 0px 0px;
    cursor: pointer;

    -moz-transition: width 0.03s ease-in-out,
                    height 0.03s ease-in-out,
                    background-color 0.03s ease-in-out;
    -webkit-transition: width 0.03s ease-in-out,
                    height 0.03s ease-in-out ,
                    background-color 0.1s ease-in-out;
    transition: width 0.03s ease-in-out,
                    height 0.03s ease-in-out,
                    background-color 0.03s ease-in-out;
}

.replyButton:hover{
    width: 30px;
    height: 30px;
    background-color:rgba(31, 53, 212, 1);
    -moz-transition: width 0.1s ease-in-out,
                    height 0.1s ease-in-out,
                    background-color 0.1s ease-in-out;
    -webkit-transition: width 0.1s ease-in-out,
                    height 0.1s ease-in-out ,
                    background-color 0.1s ease-in-out;
    transition: width 0.1s ease-in-out,
                    height 0.1s ease-in-out,
                    background-color 0.1s ease-in-out;
}

.replyButton>div{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 11px 0px 0px 10px;

    background-image: url(../img/bubble.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    opacity: 0;
}
.replyButton:hover>div{
    opacity: 1;
    -moz-transition: opacity 0.31s ease-in-out 0.04s;
    -webkit-transition: opacity 0.31s ease-in-out 0.04s;
    transition: opacity 0.31s ease-in-out 0.04s;
}


.contentShow{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.commentShow{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.ctLMain2WaitBox{
    position: absolute;
    bottom: 0px;
    display:inline-block;
    width: 100%;
    height: 30px;
}

.ctLMain2WaitBox>div{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    margin:auto 0px;

    position: absolute;
    bottom: 0px;
    top: 0px;
    left: -10px;
    opacity: 0;
    background-color: rgb(255, 0, 20);
}

.ctRWaitBoxBg{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0,0,0,0.9);
    text-align: center;
}

.ctRWaitBox{
    position: absolute;
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    margin: auto;
    display:inline-block;
    max-width: 450px;
    width: 450px;
    height: 40px;
    overflow: hidden;
}

.ctRWaitBox>div{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    margin:auto 0px;

    position: absolute;
    bottom: 0px;
    top: 0px;
    left: -10px;
    opacity: 0;
    background-color: rgb(255, 0, 20);
}


