html,body{
    display: inline-block;
    width: 100%;
    max-height: 100%;
    margin: 0px;
    overflow-y: hidden;
    overflow-x: auto;
    min-width: 1024px;
}

body{
	position: relative;
}

p,a{
	font-family: Times New Roman,arial,sans-serif;
}

.header{
	position: absolute;
	top: 0px;
	left: 0px;
    display: inline-block;
    width: 100%;
    min-width: 1024px;
    height: 30px;
    text-align: center;
    z-index: 100;

    background: -webkit-linear-gradient(top, #1F7AC9 0%, #135DA4 100%);
    background: -moz-linear-gradient(top, #1F7AC9 0%, #135DA4 100%);
    background: linear-gradient(top, #1F7AC9 0%, #135DA4 100%);
}   

.headerLeftDiv{
	position: absolute;
	top: 0px;
	left: 0px;
	width: auto;
	padding-left: 10px;
}

.headerRightDiv{
	position: absolute;
	top: 0px;
	right: 0px;
	width: auto;
}

.setImg{
	float: right;
	margin-top: 5px;
	
	display: inline-block;

	background: url("../img/set.png");
	background-size: 100% 100%;
	height:20px;
	width:20px;
}

.loginOut{
	float: right;
	margin: 5px 30px 0px 20px;
	color: white;
	font:20px/20px Times-New-Roman,Arial,sans-serif;
	text-decoration: none;
}

.catalog{
	float: left;
	margin: 5px 0px 0px 0px;
	color: white;
	font:20px/20px Times-New-Roman,Arial,sans-serif;
	text-decoration: none;
}

.toTag{
	float: left;
	margin: 5px 20px 0px 20px;
	color: white;
	font:20px/20px Times-New-Roman,Arial,sans-serif;
}

.catalogNowShow{
	display: inline-block;
	width: 100px;
	height: 30px;
	margin:0px;
	margin-top: 5px;
	padding-bottom: 8px;

	color: white;
	font:20px/20px Times-New-Roman,Arial,sans-serif;
	cursor: default;
	border: 1px solid rgba(0,0,0,0);
}

.catalogSwitchShowDivBg{
	display:inline-block;
	position: absolute;
	top: -355px;
	left: 0px;
	z-index: 99;

	width: 100%;
	min-width: 1024px;
	height: 400px;
	text-align: center;
}

.catalogSwitchShowDiv{
	display: -webkit-box!important;
    display: -moz-box!important;
    -webkit-box-orient:vertical;
    -moz-box-orient:vertical;
    margin: 0px auto;

	width: 100px;
	height: 400px;
	text-align: center;
}

.catalogSwitchShow{
	-webkit-box-flex:0;
    -moz-box-flex:0;
    box-flex:0;
	margin: 0px auto;

	display: inline-block;
	width: 100px;
	height: auto;
	min-height: 50px;
	text-align: center;
}

.catalogSwitchArrowDiv{
	width: 100px;
	height: 15px;
	overflow: hidden;
}

.catalogSwitchArrow{
	width: 200px;
	height: 100px;
	margin: -86px 0px 0px -50px;
	border-radius: 0px 0px 300px 300px;
	background-color: #135DA4;
}

.catalogSwitchShow>a{
	display: inline-block;
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100px;
	
	color: white;
	text-decoration: none;
	background: #135DA4;
	font:20px/20px Times-New-Roman,Arial,sans-serif;
}

.catalogSwitchShow>a:hover{
	background:#467EAD!important;
}

.verticalSpace{
    -webkit-box-flex:1;
    -moz-box-flex:1;
    box-flex:1;
    width: 100px;
    margin: 0px auto;
}

.content{
	display: -webkit-box!important;
    display: -moz-box!important;
    -webkit-box-orient:vertical;
    -moz-box-orient:vertical;

	width: 100%;
	height: 100%;
}

.contentTop{
	-webkit-box-flex:0;
    -moz-box-flex:0;
    box-flex:0;

    display: inline-block;
    width: 100%;
    height: 30px;
}

.contentMain{
	-webkit-box-flex:1;
    -moz-box-flex:1;
    box-flex:1;
    width: 100%;;
}

.contentShow{
	width: 100%;
	
	border: 0px solid black;
}

.contentSpace{
	position: relative;
	bottom: 0px;
	display: inline-block;
	width: 100%;
	height: 30px;
}

.commentDiv{
	position: fixed;
	bottom: -326px;
	left: 0px;

	display: inline-block;
	width: 100%;
	min-width: 1024px;
	height: auto;
}

.commentDiv textarea{
	font-size: 13px;
}

.commentButton{
	display: inline-block;
	height: 42px;
	width: 100%;
}

.commentButton>div{
	float: right;
	display: inline-block;
	background: -webkit-linear-gradient(top, #1F7AC9 0%, #135DA4 100%);
    background: -moz-linear-gradient(top, #1F7AC9 0%, #135DA4 100%);
    background: linear-gradient(top, #1F7AC9 0%, #135DA4 100%);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    border-radius: 400px 400px 0px 0px;
    text-align: center;
    cursor: pointer;
 }

.loveButton{
	margin: 21px 10px 0px 0px;
	width: 42px;
	height: 21px;
}

.bubbleButton{
	margin: 0px 20px 0px 0px;
	width: 84px;
	height: 42px;
}

.loveImg{
	width: 36%;
	height: 72%;
	margin-top: 10%;
}

.bubbleImg{
	width: 34%;
	height: 68%;
	margin-top: 10%;
}



.commentBlock{
	display:inline-block;
	height:300px;
	width: 100%;
	padding-top: 24px;
	border-top:3px #135DA4 solid;
	background-color: #f6f6f6;
	text-align: center;
}

.commentBlock div{
	text-align: left;
}

.commentMain{
	display: inline-block;
	width: 1024px;
	height: 100%;
}

.commentLeft{
	display: inline-block;
	height: 100%;
	width: 335px;
	margin-right: 10px;
}

.commentRight{
	display: inline-block;
	height: 100%;
	width: 674px;
}

.shareManDiv{
	display: inline-block;
	width: auto;
	height: 60px;
	margin-bottom: 24px;
}

.shareReasonDiv{
	margin-bottom: 24px;
	display: inline-block;
	width: 100%;
	height: 186px;
	background-color: #fafafa;
	border: 1px #c9c9c9 solid;
	border-radius: 7px;
	color:#5F5F5F;
	padding: 8px;
	word-wrap: break-word;
	resize: none;
	overflow: hidden;
}

.shareManPic{
	width: 60px;
	height: 60px;
	border-radius: 7px;
	margin-right: 20px;
}

.shareManDetailDiv{
	position: relative;
	display: inline-block;
	height: 60px;
	width:245px;
	overflow: hidden;
}

.shareManName{
	margin:0px;
	color: #5F5F5F;
	font-size: 20px;
	height: 30px;
}

.shareManGroup,.shareTime{
	margin:0px;
	color: #5F5F5F;
	font-size: 15px;
	height: 15px;
}

.shareManLoveButton{
	position: absolute;
	bottom: 0px;
	right: 0px;
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 30px 0px 0px 0px ;
	background-color: #1F7AC9;
	cursor: pointer;
}

.shareManLoveButton>img{
	width: 15px;
	height: 15px;
	margin: 11px 0px 0px 11px;
}

.sendCommentDiv{
	height: 100px;
	margin-bottom: 10px;
}

.sendCommentManPic{
	width: 50px;
	height: 50px;
	margin-right: 10px;
	border-radius: 4px;
	margin-bottom: 40px
}

.sendCommentTextDiv{
	display: inline-block;
	width: 605px;
	height: 100px;
}

.sendCommentText{
	width: 580px;
	height: 65px;
	max-width: 580px;
	max-height: 90px;
	background-color: #fafafa;
	border: 1px #c9c9c9 solid;
	border-radius: 7px;
	padding: 5px;
	outline: 0px;
	word-wrap: break-word;
	resize: none;
	color: #5F5F5F;
}

.sendCommentTextButton{
	margin-left: 490px;
	background-color: #fafafa;
	border: 1px #c9c9c9 solid;
	border-radius: 6px;
	outline: 0px;
	width: 90px;
	height: 30px;
	color: #5F5F5F;
	font-size: 20px;
}

.commentShowDiv{
	display: inline-block;
	width: 100%;
	height: 180px;
	overflow-y: auto;
	overflow-x:hidden ;
	margin-bottom: 4px;
}

.contentEach{
	position: relative;
	display: inline-block;
	width: 643px;
	height: 65px;
	margin-bottom: 10px;
	overflow: hidden;
}

.contentEach>textarea{
	display: inline-block;
	width: 578px;
	height: 65px;
	background-color: #fafafa;
	border: 1px #c9c9c9 solid;
	color: #5F5F5F;
	border-radius: 7px;
	padding: 5px;
	outline: 0px;
	word-wrap: break-word;
	resize: none;
}

.contentEach>img{
	width: 50px;
	height: 50px;
	margin-right: 10px;
	border-radius: 4px;
	margin-bottom: 15px;
}

.contentEach>div{
	position: absolute;
	bottom: 0px;
	right: 1px;
	display: inline-block;
	width: 50px;
	height: 30px;
	border-radius: 30px 0px 7px 0px;
	background-color: #1F7AC9;
	cursor: pointer;
}

.contentEach>div>img{
	width: 15px;
	height: 15px;
	margin: 11px 0px 0px 18px;
}