html,body{
    margin:0px;
    width: 100%;
    height:100%;
}

body{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction:column;
    -moz-flex-direction:column;
    -ms-flex-direction:column;
    -o-flex-direction:column;
    flex-direction:column;

    -webkit-justify-content:space-between ;
    -moz-justify-content: space-between;
    -ms-justify-content:space-between ;
    -o-justify-content: space-between;
    justify-content:space-between;

    background-color:  #E7F7ED;
}

p,a{
    font-family:arial,SimSun, sans-serif;
}

.header{
    width: 100%;
    min-height: 30px;
    max-height: 50px;
    height: 5%;

    text-align: center;
    background: -webkit-linear-gradient(top, #2479CA 0%, #0F47BE 100%);
    background: -moz-linear-gradient(top, #2479CA 0%, #0F47BE 100%);
    background: linear-gradient(top, #2479CA 0%, #0F47BE 100%);
    //background-color: #0F47BE;
}

.contentDiv{
    width: 100%;
    text-align: center;
}

.content{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction:row;
    -moz-flex-direction:row;
    -ms-flex-direction:row;
    -o-flex-direction:row;
    flex-direction:row;

    -webkit-justify-content:center ;
    -moz-justify-content: center;
    -ms-justify-content:center ;
    -o-justify-content:center ;
    justify-content:center ;

    -webkit-align-items:center ;
    -moz-align-items: center;
    -ms-align-items:center ;
    -o-align-items:center ;
    align-items:center ;

     max-width: 1500px;
     text-align: left;
     margin:0px auto;
}


.contentLeft{   
    width: 54%;     
    //min-width: 810px;
    min-height: 450px;
    max-height: 575px;
    text-align: center;
}

.contentLeftMain{
    background: url("../img/loginShare.png");
    background-size: 100% 100%;
    min-height: 450px;
    max-height: 575px;
    width: 100%;
}


.contentRight{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction:column;
    -moz-flex-direction:column;
    -ms-flex-direction:column;
    -o-flex-direction:column;
    flex-direction:column;

    -webkit-justify-content:center ;
    -moz-justify-content: center;
    -ms-justify-content:center ;
    -o-justify-content: center;
    justify-content:center;

    width:36%;
}

.contentRightMain{
    display: inline;
    width: 60%;
    min-width:250px;

    box-shadow: 3px 3px 10px #535353;
}

.contentRightMain>div{
    width:100%;
    background-color: #1445B1;
}


.contentRightMenu p{
    display: inline-block;
    margin-left: 20px;
    font-size: 25px;
    font-weight: 300;
    color: white;
}

.contentRightBody p{
    display: inline;
   margin: 3px 0px;
   font-size: 18px;
   color: rgb(226, 226, 226);
}

.loginButton{
    cursor: default;
}

.registerButton{
    cursor: pointer;
}

.registerForm{
    opacity: 0;
}

.loginAndRegisterDiv{
    position: relative;

    width:100%;
    height:100%;
    overflow: hidden;
}

.loginAndRegisterMoveDiv{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction:row;
    -moz-flex-direction:row;
    -ms-flex-direction:row;
    -o-flex-direction:row;
    flex-direction:row;

    width:200%;
    height:100%;
}

.loginDiv{
    width: 100%;
    height: 100%;
}

.loginDiv div{
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-bottom: -9px;
} 

.registerDiv{
    width: 100%;
    height: 100%;
}

.registerDiv div{
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-bottom: -9px;
}

.loginAlert,.registerAlert{
    display: block!important;
    opacity: 0;
    text-align: center;
    height: 14px;
    font-size: 14px!important;
    color: rgb(252, 25, 25)!important;
}

.loginAndRegisterMoveDiv form{
   width: 93%;
   margin: 0px 25% 20px 10%;
   display: inline-block;
}

.loginAndRegisterInput{
    outline-color: rgba(256,256,256,0);
    border: 1px solid rgba(256,256,256,0);
    max-height: 25px;
    width: 80%;
    font-size: 17px;
    padding: 2px 3px;
    color: #494949;
    border-radius: 2px;
}

.loginAndRegisterInput:hover{
    border-color:rgb(63, 236, 167);
}

.loginAndRegisterInput:focus{
    border-color:rgb(63, 236, 167);
}

.SubmitButton{
    width: 80px;
    height: 35px;
    margin: 10px auto;
    outline-color:rgba(256,256,256,0);
    border:0px;
    background-color: #f0faf1;
    font-size: 25px;
    cursor: pointer;
    color: #313131;
}

.SubmitButton:hover{
    background-color: #D0DAD1;
}

.loginAndRegisterMoveDiv img{
    margin-bottom: -8px;
    display: none;
    width: 25px;
    height: 25px;
}