html, body, div{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    height: 200px;
    width: 200px;
    background: #1f7ac9;
}
#login{
    position: absolute;
    padding: 20px;
}
#login input{
    margin: 9px;
    width: 150px;
}
#share{
    position: absolute;
}
#share textarea{
    margin: 9px;
}
#result{
    position: absolute;
    padding: 20px;
}

