html, body, div{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    height: 200px;
    width: 200px;
    background: #829FBB;;
    text-align: center;
}
#login{
    padding-top: 20px;
}
#share{
    position: absolute;
}

#result{
    position: absolute;
    padding: 20px;
}


#explain{
    resize: none;
    background-color: #E2E9EE;
    border: 0px;
    margin: 9px auto 0px;
    width: 180px;
    height: 145px;
    color: #919191;
    padding: 4px;
    border-radius: 5px;
    outline: 0px;
    border: 1px solid rgba(194, 194, 194, 1);
}

#explain::-webkit-scrollbar {
    background-color: rgb(223, 223, 223);
    width: 6px;
    border-radius: 3px;
    border: 1px solid rgb(192, 192, 192);
}

#explain::-webkit-scrollbar-thumb  {
    background-color: rgb(197, 197, 197);
    border: 1px solid rgb(190, 190, 190);
    border-radius: 3px;
}

button{
    background-color: #F1F1F1;
    width: 52px;
    height: 22px;
    color: rgb(94, 94, 94);
    outline: 0px;
    border: 0px;
    margin: 3px 3px 0px 3px;
    border-radius: 4px;
    cursor: pointer;
}

input{
    border: 0px;
    height: 25px;
    padding: 3px;
    font-size: 15px;
    margin: 5px auto;
    width: 150px;
    outline: 0px;
    color: #919191;
    border: 1px solid rgba(256,256,256,0);
}

input:focus{
    border: 1px solid rgba(194, 194, 194, 1);
}

input:hover{
    border: 1px solid rgba(194, 194, 194, 1);
}
