<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {% from '_formhelpers.html' import render_field %}  
    <form action="{{ url_for('account.add_pwd') }}" method="post">
        {{ add_pwd_form.hidden_tag() }}
        {{ render_field(add_pwd_form.password_field, placeholder="Password") }}
        {{ render_field(add_pwd_form.confirm_field,
        placeholder="Repeat Password") }}
        <input type="submit" value="SUBMIT">
    </form>
</body>
</html>
