<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <button id="test">click</button>
</body>
<script src='../static/js/jquery.js'></script>
<script>
    $('#test').click(function(){
        var data = {
            title: 'hello', 
            url: 'http://www.baidu.com/', 
            explain: 'test'
        };
        $.post('/share/add', data)
        .done(function(){
            console.log('success');
        })
        .fail(function(){
            console.log('fail')
        });
    })
</script>
</html>
