<!DOCTYPE html>
<html>

<head>
    <link type="text/css" rel="stylesheet" href="../static/css/index.css" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>

<body>
    <div class="screen">
        <img src="../static/img/bubble.png" style="display:none;"/>
    </div>
    <div class="header">
        <div class="headerLeft">
            <div class="hdLMenu">
                <a class="hdL0">
                    <div></div>
                </a>
                <a class="hdL1">
                    <div></div>
                </a>
                <a class="hdL2">
                    <div></div>
                </a>
                <a class="hdL3">
                    <div></div>
                </a>
            </div>
            <div class="hdLArrow">
                <div class="arrowLeft"></div>
                <div class="arrowCenter">
                    <div class="ACLeft"></div>
                    <div class="ACRight"></div>
                </div>
                <div class="arrowRight"></div>
            </div>
        </div>
        <div class="headerRight">
            <div class="moreButton">
                <div class="toLeft"></div>
                <div class="toRight"></div>
                <div class="moreButtomCover"></div>
            </div>
            <a class="hdR0" target="_blank"><div></div></a>
            <div class="hdR1"><div></div></div>
            <div class="hdR2"><div></div></div>
            <div class="hdR3"><div></div></div>
            <div class="hdRShareTitle"><p></p></div>
        </div>
    </div>
    <div class="content">
        <div class="contentLeft">
            <div class="ctLMainDiv">
                <div class="ctLMain">
                    <div class="ctLMain0">
                        <div class="ctLMain0ShowDiv">
                            <div class="ctLMain0Show">
                                <div class="ctLMain0WaitBox">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ctLMain1">
                        <div class="ctLMain1ShowDiv">
                            <div class="ctLMain1Show">
                                <div class="ctLMain1WaitBox">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ctLMain2">
                        <div class="ctLMain2ShowDiv">
                            <div class="ctLMain2Show">
                                <div class="ctLMain2WaitBox">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <div class="addComment">
                            <textarea class="commentText"></textarea>
                            <a href='javascript:void(0)' class="commentSubmit">
                                <p>提交</p>
                            </a>
                        </div>
                    </div>
                    <div class="ctLMain3">
                        <div class="ctLMain3ShowDiv">
                            <div class="ctLMain3Show"></div>
                        </div>
                    </div>
                </div>
                <div class="ctLScroll">
                    <div class="ctLScrollBar"></div>
                </div>
            </div>
            <div class="ctLBottom">
                <div class="ctLBottomBg">
                    <a href="{{ url_for('account.logout') }}" class="logout">注销</a>
                    <p class="username">{{ current_user.nickname }}</p>
                    <div class="userImg" style="background-image:url('{{ current_user.image or '../static/img/default.jpg'
                    }}');"></div>
                </div>
            </div>
        </div>
        <div class="contentRight">
            <div class="ctRWaitBoxBg">
                <div class="ctRWaitBox">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <iframe class="ctRMain" src="" target='_top' frameborder="0"></iframe>
        </div>
    </div>
    <script type="text/javascript" rel="script" src="../static/js/index.js"></script>

</body>

</html>

