{% extends "base.html" %}
{% block style %}
	<link type="text/css" rel="stylesheet" href="../static/css/index.css"/>
{% endblock %}
{% block content %}

<div id="content">
{% if current_user %}
{{ current_user.username }}
{% endif %}
<div>
    <a href="{{ url_for('index', index_desc=index_desc) }}">new</a>
    <a href="{{ url_for('index_hot', index_hot_desc=index_hot_desc) }}">hot</a>
    <a href="{{ url_for('profile', profile_desc='desc') }}">profile</a>
</div>




<!-- 创建新群组 -->
<div class='create_group'>
    <form action="{{ url_for('create_group') }}" method='post'>
        <input type='text' name='group_name' placeholder='请输入群组名字'>
        <input type='submit' value='创建新群组'>
    </form>
</div>

<!-- Group -->
<div class='groups'>
    <h4>已关注的群组</h4>
    <div class='user_groups'>
        {% if user_groups %}
        {% for group in user_groups  %}
           <span>{{ group.title }}</span>
           <form action="{{url_for('remove_attention_from_group')}}" method='post'>
               <input type='hidden' name='group_id' value='{{ group.id }}'>
               <input type='submit' value='取消关注'>
           </form>
       {% endfor %}
       {% endif %}
    </div>

    <h4>未关注的群组</h4>
    <div class='diff_groups'>
        {% if diff_groups %}
        {% for group in diff_groups %}
            <span>{{ group.title }}</span>
            <form action="{{ url_for('add_attention_to_group') }}" method='post'>
                <input type='hidden' name='group_id' value='{{ group.id }}'>
                <input type='submit' value='关注'>
            </form>
        {% endfor %}
        {% endif %}
    </div>
</div>


	<div class="header">
		<img src="../static/img/share-2.png" style="margin-left:50px;min-height:100%" alt="" />
		{% if session.logged_in %}
		<a href="{{ url_for('logout') }}" class="logout">登出</a>
		{% endif %}
	</div>
	<div class="main">
		<div class="banner">
			<div class="bannerContent">
				<div class="bannerMoveLeftButton"><</div>
				<div class="bannerMoveRightButton">></div>
				<div class="bannerContentShowDiv">
					<div class="bannerContentShow">
						<div style="background:url('http://thumbshots.absolutethumbshots.com/index.php?url=http://www.zhihu.com&s=400x300&code=499944589');"></div>
						<div style="background:url('http://thumbshots.absolutethumbshots.com/index.php?url=http://www.163.com&s=400x300&code=499944589');"></div>
						<div style="background:url('http://thumbshots.absolutethumbshots.com/index.php?url=http://www.gmail.com&s=400x300&code=499944589');"></div>
						<div style="background:url('http://thumbshots.absolutethumbshots.com/index.php?url=http://www.qq.com&s=400x300&code=499944589');"></div>
						<div style="background:url('http://thumbshots.absolutethumbshots.com/index.php?url=http://www.taobao.com&s=400x300&code=499944589');"></div>
					</div>
					<div class="bannerOrder">
						<div class="bannerOrder0" style="background-color: rgb(213,213,213)"></div>
						<div class="bannerOrder1"></div>
						<div class="bannerOrder2"></div>
						<div class="bannerOrder3"></div>
						<div class="bannerOrder4"></div>						
					</div>
				</div>
			</div>
		</div>
		<div class="contentDiv">
			<class class="content">
            {% for share in shares.items %}
            <div
                style="background:url('http://img.bitpixels.com/getthumbnail?code=38052&size=200&url={{share.url}}');">
                <a href="{{ url_for('reading', id=share.id) }}" class="contentDetail"
                    title="{{share.title}}">
                    <p class="contentDetailTitle">{{share.title}}</p>
                    <p class="contentDetailTime">{{share.timestamp}}</p>
                    <p class="contentDetailCommentNum">{{share.likes}}</p>
					</a>
				</div>
            {% endfor %}

            {% if shares.has_prev %}
            <a href="{{ url_for('index', page = shares.prev_num) }}">prev</a>
            {% else %}prev
            {% endif %} | 
            {% if shares.has_next %}
            <a href="{{ url_for('index', page = shares.next_num) }}">next</a>
            {% else %}next
            {% endif %}
			</class>
		</div>
	</div>
{% endblock %}
{% block script %}
	<script type="text/javascript" rel="script" src="../static/js/indexBanner.js"></script>
	<script type="text/javascript" rel="script" src="../static/js/index.js"></script>
{% endblock %}
