<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="../static/css/index.css"/>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/> 
</head>
<body>
    <div class="header">
        <div class="headerLeft">
            <div>
                <div class="hdL0"><img src="../static/img/collect.png" alt=""></div>
                <div class="hdL1"><img src="../static/img/home.png" alt=""></div>
                <div class="hdL2"><img src="../static/img/announce.png" alt=""></div>
                <div class="hdL3"><img src="../static/img/communicate.png" alt=""></div>
            </div>
            
        </div>
        <div class="headerRight">
            <div class="moreButton"></div>
            <div class="hdR0"></div>
            <div class="hdR1"></div>
            <div class="hdR2"></div>
            <div class="hdR3"></div>
        </div>
    </div>

    <div class="content">
        <div class="contentLeft"></div>
        <div class="contentRight"></div>
    </div>

    <script type="text/javascript" rel="script" src="../static/js/index.js"></script>
    <script type="text/javascript" rel="script" src="../static/js/jquery-min.js"></script>
</body>
</html>