{% extends "base.html" %}
{% block style %}
	<link type="text/css" rel="stylesheet" href="../static/css/index.css"/>
{% endblock %}
{% block content %}

<div id="content">
<h1> sharing change the world </h1>
{% if current_user %}
{{ current_user.username }}
{% endif %}
<p>
{% if session.logged_in %}
<a href="{{ url_for('logout') }}">logout</a>
{% endif %}
</p>
<div>
    <a href="{{ url_for('index', index_desc=index_desc) }}">new</a>
    <a href="{{ url_for('index_hot', index_hot_desc=index_hot_desc) }}">hot</a>
    <a href="{{ url_for('profile', profile_desc='desc') }}">profile</a>
</div>




<!-- 创建新群组 -->
<div class='create_group'>
    <form>
        <input type='text' name='group_name' placeholder='请输入群组名字'>
        <input type='button' value='创建新群组' id='create_group'>
    </form>
</div>

<!-- Group -->
<div class='groups'>
    <h4>已关注的群组</h4>
    <div class='user_groups'>
        {% if user_groups %}
        {% for group in user_groups  %}
           <span>{{ group.title }}</span>
           <input type='button' value='取消关注' id='remove_{{group.id}}' class='remove'>
       {% endfor %}
       {% endif %}
    </div>

    <h4>未关注的群组</h4>
    <div class='diff_groups'>
        {% if diff_groups %}
        {% for group in diff_groups %}
            <span>{{ group.title }}</span>
            <input type='button' value='关注' id='add_{{group.id}}' class='add'>
        {% endfor %}
        {% endif %}
    </div>
</div>


{% endblock %}
{% block script %}
    <script type='text/javascript' rel='script' src="../static/js/jquery.js"></script>
	<script type="text/javascript" rel="script" src="../static/js/index_test.js"></script>
{% endblock %}
