<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="../static/css/login.css"/>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/> 
</head>
<body>
    <div>
        <div class="header">
            <p>Share</p>
        </div>
        <div class="headerCenterDiv">
            <div class="headerCenter"></div>
        </div>
    </div>

    <div class="content">
        <div style="width:335px;margin:0px auto;">
            <p style="opacity: 0;" class = "loginAlert">请正确填写相关信息</p>

            <div class="loginDiv">
                <form action="{{ url_for('login') }}" method="post" class="loginForm" onsubmit="return loginJudge()">
                    {{ login_form.hidden_tag() }}
                    <input type="email" class="username" placeholder="Email" name="email">
                    <input type="password" class="password" placeholder = "Password" name="password">
                    <input type="checkbox"  class="remenberBox" name="remember_me">
                    <div class="checkShow"></div>
                    <p class="remenberMe">Remenber me</p>
                    <input type="submit" class="subitButton" value="Sign in">
                </form>
                <div class="signUpInfoDiv">
                    <p class="signUpInfoP">Don't have an account?</p>
                    <a href="" class="signUpButton">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
    
    <hr style="border:0px;height:1px;width:100%;margin:0px;opacity;0;"/>
    <script type="text/javascript" rel="script" src="../static/js/login.js"></script>
</body>
</html>