<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="../static/css/login.css"/>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/> 
</head>
<body>
    <div>
        <div class="header">
            <p>Share</p>
        </div>
        <div class="headerCenterDiv">
            <div class="headerCenter"></div>
        </div>
    </div>
    
    <div class="content">
        <div style="width:335px;margin:0px auto;">
            <form action="{{ url_for('login') }}" method="post" class="loginForm" onsubmit="return loginJudge()">
                <input type="text" class="username" name="email" placeholder="Email">
                <input type="password" class="password" name="password" placeholder = "Password">
                <div class="checkShow"></div>
                <p class="remenberMe">Remenber me</p>
                <input type="checkbox" class="remenberBox">
                <input type="submit" class="subitButton" value="Sign in">
            </form>
            <div class="signUpDiv">
                <p class="signUpP">Don't have an account?</p>
                <a href="" class="signUpButton">Sign Up</a>
            </div>
        </div>
    </div>
    
    <hr style="border:0px;height:1px;width:100%;margin:0px;opacity;0;"/>
    <script type="text/javascript" rel="script" src="../static/js/login.js"></script>
</body>
</html>