{% extends "base.html" %}
{% block content %}


<div id="content">
<h1> sharing change the world </h1>
{% if current_user %}
{{ current_user.username }}
{% endif %}
<p>
{% if session.logged_in %}
<a href="{{ url_for('logout') }}">logout</a>
{% endif %}
</p>
<div>
    <a href="{{ url_for('index', index_desc='desc') }}">new</a>
    <a href="{{ url_for('index_hot', index_hot_desc='desc') }}">hot</a>
    <a href="{{ url_for('profile', profile_desc=profile_desc) }}">profile</a>
</div>

{% for share in shares %}
<div>
    <p> {{ share.title }} </p>
    <a href="{{ url_for('reading', id=share.id) }}">{{ share.url }}</a>
</div>
{% endfor %}



{% endblock %}
