{% if shares.items %}
{% for share in shares.items %}
<a href="{{ share.url }}" class="eachConnection">
    <div class="eachLeft">
        <div class="ELShareShot" style="background:url(http://img.bitpixels.com/getthumbnail?code=38052&size=200&url={{ share.url }});"></div>
        <div class="ELShareTitle">
            <div class="shareTitle">{{ share.title }}</div>
            <span class="shareDetail">赞({{ share.likes }}) {{ share.timestamp }}</span>
        </div>
    </div>
    <div class="eachRight">
        <div class="ERSharemanImg" style="background:url('../static/img/shareMan.jpg');"></div>
        <div class="ERShareReason">
            <span class="shareName">hehe1</span><span class="shareReason">{{ share.explain }}</span>
        </div>
    </div>
</a>
<hr/>
{% endfor %}
{% endif %}
